body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
}

main {
	flex-grow: 1;
}

figure {
	margin: 8px;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	display: inline;
}

h2,h3,ul {
	margin: 0px;
}

/*Side Nav Bar Styling*/
.side-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #374050;
	color: #AAB3C3;
}

.user-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	border-bottom: #273040 2px solid;
}

.user-name {
	font-size: 15px;
	font-weight: 400;
	padding: 15px;
}

.user-profile-pic {
	width: 100px;
	height: 100px;
	background: url("https://ewedit.files.wordpress.com/2017/06/dj-khaled.jpg?w=2000");
	background-size: cover;
	background-position: 45%;
	border-radius: 100px;
	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;
 	display: flex;
}

.user-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-menu:hover {
	color: #FFFFFF;
}

.nav-sub {
	display: flex;
	flex-direction: column;
	border-bottom: #273040 2px solid;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.nav-sub-header {
	font-size: 15px;
	font-weight: 400;
	padding: 20px 15px 10px;
	color: #6e7d93;
	text-transform: capitalize;
}

.nav-sub-list {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
}

.nav-sub-li:hover {
	background-color: #2A3241;
	color: #FFFFFF;
	border-left: #13A4F7 2px solid;
}

.nav-sub-icons {
	margin-left: 15px;
}

.nav-sub-text {
	margin-left: 10px;
}

.admin {
	color: #F4E806;
}

.admin:hover {
	color: #F4E806;
}

.design {
	color: #24A4FF;
}

.design:hover {
	color: #24A4FF;
}

.exec {
	color: #E51956;
}

.exec:hover {
	color: #E51956;
}

.hr {
	color: #01A47E;
}

.hr:hover {
	color: #01A47E;
}

.cat-text {
	color: #AAB3C3;
	text-transform: capitalize;
}

/*Main Nav Styling*/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-nav {
	justify-content: space-around;
	display: flex;
}

.main-nav-btn {
	padding: 15px;
	background-color: transparent;
	color: #8C9198;
}

.main-nav-search {
	flex-grow: 1;
	font-family: FontAwesome, sans-serif;
	padding: 13px;
}


/*Post Header Styling*/
.post-header {
	border: magenta 1px solid;
}

.post-main-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.post-location-preview {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-head-btn {
	background-color: transparent;
}

.post-menu {
	display: flex;
	flex-direction: row;
}

/*Statistics General Styling*/
.stat-dropdown {
	border: magenta 1px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #EAF0F5;
	padding: 3em;
}

.stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*Circular Progress Graph Styling*/
.circle-container {
	display: flex;
	flex-direction: row;
	align-content: space-around;
}

.single-chart {
  width: 200px;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #D5DFE9;
  stroke-width: 2.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.aqua .circle {
  stroke: #3EAFBA;
}

.circular-chart.blue .circle {
  stroke: #149AF8;
}

.circular-chart.purple .circle {
  stroke: #A15AA3;
}

.circle-number {
  fill: #666;
  font-size: 0.4em;
  text-anchor: middle;
}

.detail {
  fill: #666;
  font-size: 0.2em;
  text-anchor: middle;
}

/*Graph Styling*/
.graphs {
	background-image: url('https://d3vvnhml5anv1n.cloudfront.net/content/uploads/2016/03/DJ-Khaled-Key-Emoji-SXSW-2016.png');
	background-size: cover;
	height: 200px;
	width: 400px;
}

.stat-chevron {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 5px;
}

/*Job Description Styling*/
.job-post-info {
	border: magenta 1px solid;
	display: flex;
	flex-direction: row;
	background-color: #EAF0F5;
}

.job-card-header {
	display: flex;
	flex-direction: row;
	background-color: #64738A;
	color: #FFFFFF;
}

.edit-job-btn {
	background-color: #73819D;
	color: #FFFFFF;
	border: none;
}

.job-description-card {
	flex-grow: 2;
	padding: 3em 1.5em 3em 3em;
}

.job-table {
	border: magenta 1px solid;
	background-color: #FFFFFF;
	display: flex;
	align-items: stretch;
}

/*Side Bar Styling*/
.job-post {
	border: magenta 1px solid;
	display: flex;
	flex-direction: column;
	background-color: transparent;
}

.job-post-methods {
	display: flex;
	flex-direction: column;
	padding: 3em 3em 3em 1.5em;
}

.job-post-social-btn {
	color: #FFFFFF;
	margin: 1em;
}

.facebook-btn {
	background-color: #4265B9;
}

.twitter-btn {
	background-color: #00A0ED;
}

.linkedin-btn {
	background-color: #0677B5;
}

.job-post-btn {
	background-color: #40B1BA;
	color: #FFFFFF;
	border: none;
}

.job-links {
	display: flex;
	flex-direction: row;
}