/*Table of Contents*=======================/

/*Global: --------------------- Line 15  */
/*Side Nav: ------------------- Line 39  */
/*Main Nav: ------------------- Line 163 */
/*Post Header: ---------------- Line 192 */
/*Statistics General: --------- Line 269 */
/*Circular Progress Graphs: --- Line  */
/*Line Graph: ----------------- Line  */
/*Job Description: ------------ Line  */
/*Side Bar: ------------------- Line  */

/*========================================*/

/*Global Styling*/
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
}

main {
	flex-grow: 1;
}

figure {
	margin: 0px;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	display: inline;
}

h2,h3,h4,ul {
	margin: 0px;
}

/*Side Nav Bar Styling*/
.side-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #374050;
	color: #AAB3C3;
	min-width: 180px;
}

.user-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	border-bottom: #273040 2px solid;
}

.user-name {
	font-size: 15px;
	font-weight: 400;
	padding: 15px;
}

.user-profile-pic {
	width: 100px;
	height: 100px;
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRalugiYd-h8xsjr70uPNheDhDO-ZNT80jWo2EiKvIrteOlA28arA");
	background-size: cover;
	border-radius: 100px;
	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;
 	display: flex;
}

.user-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-menu:hover {
	color: #FFFFFF;
}

.nav-sub {
	display: flex;
	flex-direction: column;
	border-bottom: #273040 2px solid;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.nav-sub-header {
	font-size: 15px;
	font-weight: 400;
	padding: 20px 15px 10px;
	color: #6e7d93;
	text-transform: capitalize;
}

.nav-sub-list {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
}

.nav-sub-li {
	padding: 8px 0;
}

.nav-sub-li:hover {
	background-color: #2A3241;
	color: #FFFFFF;
	border-left: #13A4F7 2px solid;
}

.nav-sub-icons {
	margin: 0 10px;
}

.nav-sub-text {
	margin-left: 10px;
}

.admin {
	color: #F4E806;
}

.admin:hover {
	color: #F4E806;
}

.design {
	color: #24A4FF;
}

.design:hover {
	color: #24A4FF;
}

.exec {
	color: #E51956;
}

.exec:hover {
	color: #E51956;
}

.hr {
	color: #01A47E;
}

.hr:hover {
	color: #01A47E;
}

.cat-text {
	color: #AAB3C3;
	text-transform: capitalize;
}

/*Main Nav Styling*/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-nav {
	justify-content: space-around;
	display: flex;
}

.main-nav-btn {
	padding: 15px;
	background-color: transparent;
	color: #8C9198;
}

.main-nav-btn:hover {
	background-color: #149AF9;
	color: #FFFFFF;
}

.main-nav-search {
	flex-grow: 1;
	font-family: FontAwesome, sans-serif;
	padding: 13px;
}

/*Post Header Styling*/
.post-header {
	padding: 15px 30px 0;
}

.post-header-job-name {
	font-weight: 400;
}

.post-main-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.post-location-preview {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0;
}

.location-figcap {
	margin: 0 8px;
}

.sep-dot {
	font-size: 5px;
	margin: 3px;
}

.post-preview-link {
	margin-left: 5px;
	text-decoration: none;
	color: #84C7F6;
}

.post-preview-link:hover {
	color: #149AF9;
}

.post-btn-container {
	display: flex;
	flex-direction: row;
}

.post-btn-icon {
	font-size: 12px;
}

.post-btn {
  border-radius: 60px;
  padding: 0.5em 0.6em;
  color: #949AA7;
  margin: 5px;
}

.post-indicator {
	display: flex;
}

.post-indicator-dot {
	font-size: 10px;
	text-transform: uppercase;
	color: #82C244;
}

.post-indicator-text {
	margin-left: 5px;
	font-size: 10px
}

.post-btn:hover {
	background-color: #149AF9;
	color: #FFFFFF;
}

.post-menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
	max-width: 90%;
	padding: 0;
}

.post-menu-li {
	padding: 15px 0;
	font-size: 15px;
	border-bottom: transparent 2px solid;
	text-transform: uppercase;
}

.post-menu-li:hover {
	border-bottom: #13A4F7 2px solid;
	font-weight: 800;
}

/*Statistics General Styling*/
.stat-dropdown {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #EAF0F5;
	padding: 50px 30px;
	border-top: #CFDAE6 2px solid;
}

.stats {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stat-btn {
	margin: 30px 0 10px;
	background-color: #F8F8FA;
	border-radius: 60px;
  padding: 0.5em 0.6em;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.stat-btn-header {
	text-transform: uppercase;
}

.stat-btn:hover {
	background-color: #13A4F7;
	color: #FFFFFF;
}

.stat-chevron {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0;	
}

.chevron-button {
	border-radius: 60px;
  padding: 0.5em 0.6em;
  background-color: #E7EEF4;
  font-size: 12px;
}

/*Circular Progress Graphs Styling*/
.circle-container {
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

.single-chart {
  width: 200px;
  padding-right: 30px;
}

.circular-chart {
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #D5DFE9;
  stroke-width: 2.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.aqua .circle {
  stroke: #3EAFBA;
}

.circular-chart.blue .circle {
  stroke: #149AF8;
}

.circular-chart.purple .circle {
  stroke: #A15AA3;
}

.circle-number {
  fill: #666;
  font-size: 0.4em;
  text-anchor: middle;
}

.detail {
  fill: #666;
  font-size: 0.175em;
  text-anchor: middle;
  text-transform: uppercase;
}

/*Line Graph Styling*/
.graphs {
	background-image: url('https://www.daimanuel.com/wp-content/uploads/2015/01/Google-Analytics-CrossFit-Bodybuilding.png');
	background-size: cover;
	height: 200px;
	width: 400px;
}

/*Job Description Styling*/
.job-post-info {
	display: flex;
	flex-direction: row;
	background-color: #EAF0F5;
	border-top: #CFDAE6 2px solid;
}

.job-description-card {
	flex-grow: 2;
	padding: 50px 30px;
}

.job-card {
	background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #A8B3C7 ;
}

.card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
	background-color: #64738A;
	color: #FFFFFF;
	padding: 20px 0;
}

.job-header {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 15px;
	width: 200px;
	margin-left: 5%;
}

.edit-job-btn {
	background-color: #73819D;
	color: #FFFFFF;
	border: none;
	padding: 10px;
	font-size: 15px;
	text-transform: uppercase;
}

.edit-job-btn figcaption {
	margin-left: 8px;
}

.edit-job-btn:hover {
	background-color: #FFFFFF;
	color: #000000
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #A8B3C7 ;
  width: 90%;
  min-height: 75px;
  margin: 0 5%;
}

.card-column-header {
	width: 200px;
	font-size: 15px;
	text-transform: uppercase;
}

.card-column-detail {
	width: 400px;
}

.description-info {
	align-self: flex-start;
	padding-top: 16px;
}

.hiring-lead-info {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.hiring-lead-pic {
	width: 50px;
	height: 50px;
	background-image: url('http://cdn5.thr.com/sites/default/files/2014/09/dj_khaled_pr_2013_p.jpg');
	background-size: cover;
	border-radius: 50px;
	-webkit-border-radius: 50px;
 	-moz-border-radius: 50px;
}

.hiring-lead-name {
	padding-left: 15px;
}

.approved-salary {
	border-bottom: 1px transparent;
}

/*Side Bar Styling*/
.job-post {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	padding: 50px 30px;
	width: 30%;
}

.job-post-methods {
	display: flex;
	flex-direction: column;
}

.job-post-social-btn {
	color: #FFFFFF;
	padding: 15px;
	margin-bottom: 15px;
	display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
}

.job-post-social-btn figure {
	padding-left: 8px;
}

.job-post-social-btn span {
	margin: auto;
}

.method-header {
	display: flex;
	flex-direction: row;
}

.method-header figure {
	padding-right: 10px;
}

.facebook-btn {
	background-color: #4265B9;
}

.twitter-btn {
	background-color: #00A0ED;
}

.linkedin-btn {
	background-color: #0677B5;
}

.facebook-btn:hover,
.twitter-btn:hover,
.linkedin-btn:hover
 {
	background-color: #303846;
	color: #FFFFFF;
}

.job-post-btn {
	background-color: #40B1BA;
	color: #FFFFFF;
	border: none;
	padding: 15px;
}

.job-post-btn:hover {
	background-color: #59687F;
}

.job-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
}

.link-method,
.widget-method {
	border-bottom: #CFDAE6 2px solid  
}

.link-method,
.widget-method,
.email-method {
	padding-top: 26px;
}

.post-link,
.widget-link,
.email-link {
	background-color: #FFFFFF;
	padding: 12px;
	overflow-x: auto;
	max-height: 30px;
}

